<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>485139072467-7hb3au1jvvjv8n7cu57t0esund7hj99c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.485139072467-7hb3au1jvvjv8n7cu57t0esund7hj99c</string>
	<key>API_KEY</key>
	<string>AIzaSyDlZtcUzt-P1aP2TDzK5e5zZ0JBDDZgwrE</string>
	<key>GCM_SENDER_ID</key>
	<string>485139072467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Whitehouse-Petitions</string>
	<key>PROJECT_ID</key>
	<string>test-26346</string>
	<key>STORAGE_BUCKET</key>
	<string>test-26346.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485139072467:ios:ac263c7aa5598ca7a6db26</string>
	<key>DATABASE_URL</key>
	<string>https://test-26346.firebaseio.com</string>
</dict>
</plist>